/* styles.css */

.custom-button {
    text-align: center;
    font-size: 15px;
}

.upload-box-style {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.set-value-card {
    color: 'info'; /* Info color */
    width: 100%;
    margin: auto;
}

.main-page-layout{
    margin-left: 20px;
}


